@import '../../style/style.scss';

.footer {
  border-top: 1px solid var(--dark-content, #d6d6d6);
  background-color: #f7f4f4;
  &__inner {
    padding: 50px 0;
  }
  &__nav-list {
    display: flex;
    justify-content: center;
    gap: 40px;
    max-width: 600px;
    margin: 0 auto;
  }
  &__nav-item {
    cursor: pointer;
    color: #666;
    font-weight: 400;
    font-size: 18px;
    transition: all 0.1s linear;
    &:hover {
      color: #050505;
    }
  }
}

@include mobile {
  .footer {
    &__nav-list {
      width: 100%;
      gap: 20px;
    }
    &__nav-item {
      font-size: 16px;
    }
  }
}

@include small-mobile {
  .footer {
    &__inner {
      padding-left: 5px;
      padding-right: 5px;
    }
    &__nav-item {
      font-size: 12px;
    }
  }
}

@media (max-width: 260px) {
  .footer__nav-list {
    gap: 8px;
  }
}
